alembic==1.7.1
aniso8601==9.0.1
arrow==1.1.1
backports.zoneinfo==0.2.1
click==8.0.1
colorama==0.4.4
dateparser==1.0.0
Flask==1.1.2
Flask-Cors==3.0.7
Flask-Migrate==3.0.1
Flask-Moment==1.0.1
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
greenlet==1.1.1
gunicorn==20.1.0
importlib-resources==5.2.2
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.1.5
MarkupSafe==2.0.1
migrate==0.3.7
moment==0.12.1
python-dateutil==2.8.2
pytz==2019.1
regex==2021.8.28
six==1.16.0
SQLAlchemy==1.4.18
times==0.7
tzdata==2021.1
tzlocal==3.0
Werkzeug==2.0.1
zipp==3.5.0
